$infoBg: #ecf5ff;
$infoBorder: #c5d8f1;

$orange: #ff9d3c;
$fontOrange: #FF8D13;

$dangerColor: #f76120;
$red: #f83654;
$green: #008713;

$grey: #888888;
$lightGrey: #e2e2e2;
$fontGrey: #555555;

$formBorder: #ccc;

a {
    cursor: pointer;
}
